.bgApp {
  background-image: url(../../public/img/losSimpson.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

nav Link {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

nav li {
  display: inline-block;
  width: 31.7%;
  padding: 5px 10px;
  background-color: rgb(255, 1, 1);
  border: 1px solid #000;
  text-align: center;
  color: #fff;
}

nav li:hover {
  background-color: rgb(255, 230, 1);
  color: #000;
}


h1 {
  text-align: center;
  /* margin-top: 170px; */
  color: rgb(255, 230, 1);
  font-size: 100px;
  text-shadow: 2px 2px 2px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a button {
  justify-content: center;
  align-items: center;
  background-color: red;
  margin-top: 30PX;
  margin-left: 40%;
  padding: 20px;
  border-radius: 55px;
  letter-spacing: 5px;
  font-weight: 600;
  color: white;
  font-size: 20px;
}
a button:hover{
  background-color: rgb(255, 230, 1);
}

/* .accordion-container{
  overflow: hidden;
}

.main-item{
  padding: 12px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all ease-in-out 0.25s;
  color: red;
}

.main-item:hover{
  background-color: rgb(255, 230, 1);
  color: green;
}

.main-item--open{
  color: rgb(255, 230, 1);
  transition: all 200ms;
  color: green;
}

.main-item--open:hover{
  color: green;
  background-color: rgb(255, 230, 1);
}
.accordion-container > ul {
  max-width: 0px;
  list-style-type: none;
  margin: 0px;
  padding-left: 14px;
  opacity: 0;
  font-size: smaller;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}
.main-item--open + ul{
  visibility: visible;
  max-width: 400px;
  padding-left: 22px;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accordion-container > ul > li{
  height: 48px;
  display: flex;
  width: 100%;
  align-items: center;
}

.accordion-container > ul > li > Link{
  color: red;
  padding: 16px 8px;
  height: 38px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.accordion-container > ul > li:hover{
  color: green;
  cursor: pointer;
  font-weight: 700;
}
.accordion-container > ul > li:hover > Link {
  color: green;
  background-color: rgb(255, 230, 1);
  width: 100%;
}

.expand-icon{
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.main-item--open .expand-icon{
  transform: rotate(-90deg);
}
.line-vertical{
  display: block;
  background-color: rgb(255, 230, 1);
  width: 2px;
  height: 48px;
}
.accordion-container > ul > li:last-child > .line-vertical{
  height: 25px;
  align-self: flex-start;
}

.line-horizontal{
  display: block;
  background-color: rgb(255, 230, 1);
  height: 2px;
  max-width: 12px;
}

 */