body {
    background-image: url(../../public/img/losSimpsonSearch.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 170px;
    color: red;
    font-size: 50px;
    text-shadow: 2px 2px 2px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  form{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;    
    
  
  }

  form input{
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 30px;    
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgb(255, 0, 0);
    border: 2px solid red;
    color: red;
  }

  form button {
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 230, 1);
    margin-top: 35px;
    margin-left: 20px;
    padding: 15px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgb(3, 3, 3);
    font-size: 20px;
    box-shadow: 2px 2px 2px rgb(3, 3, 3);
  }

  form button>hover {
    background-color: red;    
    color: rgb(255, 255, 255);    
  }