body {
    margin: 0;
    font-family: 'Playpen Sans', cursive;     
  }

  
  *{
    margin: 0;
    padding: 0;
  }
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff0000 #ffe600;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffe600;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
 

  /* 
  <i class="fa-solid fa-burger-cheese"></i>
  <i class="fa-solid fa-burger"></i>
  */

  