body {
    margin: 0;
    font-family: 'Playpen Sans', cursive;     
  }

  
  *{
    margin: 0;
    padding: 0;
  }
 

  /* 
  <i class="fa-solid fa-burger-cheese"></i>
  <i class="fa-solid fa-burger"></i>
  */

  